* {
  color: #888e92;
  box-sizing: border-box;
  font-family: fira-sans-2, sans-serif;
  font-style: normal;
  font-weight: 600;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f5f5f5;
}

.contain {
  max-width: 600px;
  margin: 0 auto;
}

fieldset, input, textarea, button {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 8px;
  margin: 0;
  font-size: 14px;
  border-radius: 2px;
}

fieldset {
  padding: 8px 0px;
}

@media print {
  * {
    font-size: 12px;
    color: #333333 !important;
  }

  .no-print {
    display: none !important;
  }

  #nameplate {
    padding: 0px;
    #name {
      font-size: 50px !important;
      line-height: 50px !important;
    }
  }

  #contacts {
    padding: 0px
  }
}

button:disabled {
  background-color: #f05d48;
  &:hover {
    cursor: no-drop;
  }
}

.block-picker {
  // width: 100% !important;
}

.fa {
  color: white;
}

.row {
  margin: 0;
}
